<div class="feed-scroll">
    <ul class="feed">
        {% for r in recent %}
        <li class="feed-item">
            <div class="feed-species-wrap"
                 data-popup="<div class='popup-title'>{{ r.species }}</div>{% for d in r.all_detections %}<div class='popup-row'><span class='popup-conf'>{{ d.confidence }}%</span><span class='popup-time'>{{ d.time_ago }}</span></div>{% endfor %}">
                <span class="feed-species">{{ r.species }}</span>
            </div>
            <span class="feed-meta">{{ r.time_ago }}</span>
        </li>
        {% else %}
        <li class="empty">No detections for this period.</li>
        {% endfor %}
    </ul>
</div>